$header-padding-vertical: 6px;
$action-font-size: 18px;


@import '../../../node_modules/react-streamfield/src/scss/index';


.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

 .react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

 .react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

 .react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

 .react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

 .react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

 .react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

 .react-tabs__tab-panel {
  display: none;
}

 .react-tabs__tab-panel--selected {
  display: block;
}

 .c-sf-nested-block__header {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  border-radius: 3px; }

 .c-sf-nested-block__header--collapsible {
  cursor: pointer; }

.c-sf-container {
    // TODO: #CSSoverhaul the bse icon style here - the margin - should be reconsidered when
    // re-building the icon component as part of the CSS  These styles come from global
    // label styles in css/mixins/_general.scss -@jonnyscholes
    .c-sf-button__icon {
        .icon::before {
            margin: unset;
        }
    }

    // TODO: #CSSoverhaul global label styles need to be removed. These styles come from global
    // label styles in css/_grid.scss -@jonnyscholes
    .field label {
        float: unset; // LEGIT
        width: unset; // LEGIT
        max-width: unset; // LEGIT
        padding: 0; // LEGIT

        &::after {
            content: ''; // LEGIT
        }
    }

    // TODO: #CSSoverhaul This should be fixed as part of Wagtail CSS overhaul. The default
    // `.field`/`.field-componet` (or whatever they become) should be full width by default.
    // -@jonnyscholes
    .field-content {
        float: unset;
        display: block;
        width: unset;

        textarea {
            max-width: 100%;
        }
    }

    // TODO: #CSSoverhaul This should be fixed as part of Wagtail CSS overhaul. Whatever we do with
    // `.field`/`.field-content` should take into account help text -@jonnyscholes
    .help {
        margin: 8px 0;
    }
}


.object {
    &.stream-field {
        background-color: #f6f6f6;
        padding-left: 20px;
        padding-right: 20px;

        &.required .field > label:after {
            display: none;
        }

        .object-layout_big-part {
            max-width: 100%;
        }

        fieldset {
            padding-bottom: 0;
            max-width: unset;
            // Workaround to make sure blocks do not overflow horizontally.
            min-width: 0;
        }

        .block_field > .field-content {
            width: 100%;
        }
    }
}
